<h1>Edit <%= @task.title %></h1>

<%= form_for(@task) do |task| %>
  <%= task.label :title %>
  <%= task.text_field :title %>
  <%= task.label :details %>
  <%= task.text_field :details %>
  <%= task.submit %>
<% end %>

<%= link_to "Delete", task_path(@task), method: :delete %>
